<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="SanityTest">
   <groups>		
   <run>		
    <exclude name="SIT" />		
   </run>		
  </groups>
    <classes>
      <class name="TestNgpackage.Testngannotate"/>
      <class name="TestNgpackage.TestngAnnotation2"/>
      <class name="TestNgpackage.TestngAnnotaion3"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="SITTest">
   <groups>		
   <run>		
    <include name="SIT" />		
   </run>		
  </groups>
    <classes>
      <class name="TestNgpackage.TestngAnnotaion3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
